.git
.gitignore
target/
.venv/
venv/
__pycache__/
*.pyc
.env
.env.*
*.md
.idea/
.vscode/
.DS_Store
*.db
*.sqlite*
*.log
logs/
.docker/
ml/
vistructum-ui/src/main/webapp/node_modules/
vistructum-ui/src/main/webapp/node/
vistructum-ui/src/main/webapp/dist/
